* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alfa Slub One", "Arial";
}

.container {
  padding: 30px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}

p {
  font-size: 1.6em;
  font-weight: lighter;
  font-family: "Taviraj", serif;
}

h4 {
  color: #D82027;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.table-light th {
  color: black;
}

#container_margin {
  width: 100vw;
  margin-top: 172px;
}
#container_margin .slide {
  position: relative;
}
#container_margin .slide img {
  position: relative;
  top: 0%;
  left: 0%;
  display: block;
  width: 100vw;
}
#container_margin .slide #text-image {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 100;
  letter-spacing: 0.16em;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}
#container_margin .slide #text-image h1 {
  font-size: 4.5em;
  font-weight: bolder;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#container_margin .slide #text-image h3 {
  font-size: 1.6em;
}
#container_margin .slide #overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  background-color: rgba(0, 0, 0, 0.3);
}

#about {
  height: 500px;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #D82027;
  text-align: center;
}
#about h2 {
  font-size: 2.6em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
#about p {
  color: black;
}
#about a {
  transition: 0.4s;
}
#about a:hover {
  background-color: #B10F15;
}

#booking {
  width: 100%;
  display: flex;
  color: white;
}
#booking #left-text {
  width: 45%;
  height: 100%;
  padding: 180px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #333333;
}
#booking #left-text h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 30px;
}
#booking #left-text p {
  margin-bottom: 40px;
}
#booking #image-right {
  width: 55%;
  background-image: url("../img/ercole.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .button {
  color: white;
  padding: 12px 28px;
  background-color: #D82027;
  letter-spacing: 0.16em;
  border: 0px;
}

main a {
  transition: 0.4s;
}
main a:hover {
  background-color: #B10F15;
}

#cover img {
  width: 100%;
}

#wrapper-white {
  width: 40%;
  padding: 120px 0px;
  margin: auto;
  text-align: center;
}

.section_square {
  width: 100%;
  display: flex;
}
.section_square .square_text {
  width: 50%;
  padding: 230px 50px;
  text-align: center;
}
.section_square .square_image {
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section_square .first {
  background-image: url("../img/arrosto.webp");
  background-position: right;
}
.section_square .second {
  background-image: url("../img/polpette.webp");
}

#ordini_flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: grey;
}
#ordini_flex .fb-page {
  width: 100%;
}
#ordini_flex .relative {
  position: relative;
  display: none;
}
#ordini_flex .dropdown {
  width: 200px;
  padding: 15px;
  color: grey;
  position: absolute;
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.3), -8px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
}
#ordini_flex .dropdown li {
  list-style: none;
}

#form-bg {
  width: 100%;
  background-color: black;
  color: white;
}
#form-bg .container {
  width: 100%;
  text-align: center;
}

/* Body & Image List Styles
-------------------------------------------------------------- */
.img-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.img-list li {
  border: 5px solid transparent;
  box-sizing: border-box;
  width: calc(100% / 4);
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}

.img-list img {
  max-width: 100%;
  vertical-align: middle;
}

/* Image Placeholder Styles
-------------------------------------------------------------- */
.img-placeholder:before,
.img-placeholder:after {
  padding-top: 33.33%;
  content: "";
  display: block;
}

.img-placeholder {
  background: #222;
  box-shadow: 0 0 0 8px #222 inset, 0 0 0 9px #333 inset;
  color: #444;
  line-height: 0;
  text-align: center;
  display: block;
}

/* The hover effect
-------------------------------------------------------------- */
.img-list li:hover {
  z-index: 20;
  transition: 0.3s;
}

.img-list li:before {
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
}

.img-list li:hover:before {
  opacity: 0.5;
  transform: scale(1);
}

.img-list li:after {
  transition: all 0.6s ease 0.2s;
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border: 1px solid #aaa;
  opacity: 0;
  transform: scale(0);
}

.img-list li:hover:after {
  opacity: 0.35;
  transform: scale(1);
}

#success {
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 100px;
}
#success #wrapper {
  padding: 100px 0px;
}

#informativa h1, #cookies h1 {
  padding: 30px 0px;
}
#informativa h2, #cookies h2 {
  padding: 15px 0px;
}

@media (max-width: 375px) {
  #container_margin .slide #text-image {
    width: 80%;
  }
  #container_margin .slide #text-image h1 {
    font-size: smaller;
    margin-bottom: 0px;
  }
  #container_margin .slide #text-image h3 {
    font-size: 12px;
  }

  h2 {
    font-size: 1.6em;
  }

  #form-bg {
    background-image: none;
    background-color: black;
  }
}
@media (max-width: 600px) {
  #container_margin {
    margin-top: 0%;
  }
  #container_margin .slide #text-image h1 {
    font-size: 2.4em;
  }
  #container_margin .slide #text-image h3 {
    font-size: 14px;
  }
  #container_margin #wrapper-white {
    width: 70%;
    padding: 70px 0px;
  }
  #container_margin .section_square {
    flex-direction: column;
  }
  #container_margin .section_square .square_text {
    width: 100%;
    padding: 100px 50px;
  }
  #container_margin .section_square .square_image {
    width: 100%;
    height: 500px;
  }
  #container_margin .reverse {
    flex-direction: column-reverse;
  }

  p {
    font-size: 1.8em;
  }
}
@media (max-width: 800px) {
  #ordini_flex {
    align-items: center;
    background-color: black;
  }
  #ordini_flex .fb-page {
    width: 100%;
  }

  #booking {
    flex-direction: column-reverse;
  }
  #booking #left-text {
    width: 100%;
  }
  #booking #image-right {
    width: 100%;
    height: 400px;
    background-size: cover;
  }
}
header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0%;
  background-color: white;
}
header #header_top {
  max-width: 100%;
  width: 1008px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  border-top: 6px solid #222;
  margin: 0 auto;
}
header #header_top #top_left {
  width: 30%;
  padding-right: 30px;
  text-align: right;
  border-right: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header #header_top #top_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
header #header_top #top_right {
  width: 30%;
  padding-left: 30px;
  border-left: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header #header_top img {
  height: 150px;
  margin-bottom: 0;
}
header #header_nav {
  width: 100%;
  flex-wrap: wrap;
  border-top: 1px solid #e9e9e9;
}
header #header_nav ul {
  margin: 0px auto 0;
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
}
header #header_nav li {
  display: table-cell;
  position: relative;
  padding: 10px 0;
  font-weight: bolder;
}
header #header_nav a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 15px;
  position: relative;
}
header #header_nav a:hover {
  color: #B10F15;
}
header #header_nav .active {
  color: #B10F15;
}
header a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #B10F15;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header a:hover:after {
  width: 100%;
  left: 0;
}

@media (max-width: 600px) {
  header {
    position: static;
  }
  header #header_top #top_left, header #header_top #top_right {
    padding: 10px;
  }
  header #header_top span {
    font-size: smaller;
  }

  #header_nav {
    text-align: center;
  }
}
footer {
  background-color: #1C1C1C;
  padding: 80px 0px 18px 0px;
  width: 100vw;
  color: white;
}
footer #footer-top {
  display: flex;
  width: 100%;
  padding: 50px 100px 120px 100px;
  align-items: center;
}
footer #footer-top #hours, footer #footer-top #location, footer #footer-top #contacts {
  width: calc(100% / 3 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer #footer-top #hours h6, footer #footer-top #location h6, footer #footer-top #contacts h6 {
  font-weight: bolder;
}
footer #footer-top #hours span, footer #footer-top #location span, footer #footer-top #contacts span {
  color: #888;
}
footer #footer-top #hours i, footer #footer-top #location i, footer #footer-top #contacts i {
  margin-right: 10px;
  font-size: larger;
}
footer #footer-top #hours, footer #footer-top #location {
  border-right: 1px solid rgba(159, 162, 162, 0.3);
}
footer #footer-top a {
  color: #888;
}
footer #footer-top a:hover {
  color: white;
}
footer #footer-top #contacts i, footer #footer-top #contacts a {
  transition: 0.3s;
}
footer #footer-top #contacts i:hover, footer #footer-top #contacts a:hover {
  color: white;
}
footer #footer-bottom {
  text-align: center;
}
footer #footer-bottom hr {
  width: 100%;
  border: 1px solid rgba(159, 162, 162, 0.3);
  margin: 0%;
}
footer #footer-bottom small {
  color: #888;
}
footer #footer-bottom #social_icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
footer #footer-bottom #social_icons i {
  font-size: 34px;
  transition: 0.3s;
}
footer #footer-bottom #social_icons a {
  color: rgba(159, 162, 162, 0.3);
}
footer #footer-bottom #social_icons a:hover {
  color: white;
}

@media (max-width: 600px) {
  footer {
    padding-top: 20px;
  }
  footer #footer-top {
    flex-direction: column;
    padding: 20px 50px;
  }
  footer #footer-top #hours, footer #footer-top #location, footer #footer-top #contacts {
    border-right: 0px;
    padding-top: 30px;
  }
}
